.card-container {
    margin: 1rem;
    color: whitesmoke;

    & .front-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40%;
        width: 100%;


        & .card-name {
            font-size: x-large;
            font-weight: bolder;
            text-align: center;

            &.desktop,
            &.tablet {
                font-size: xx-large;
            }
        }

        & .card-information {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1rem;


            & .card-text-information {
                width: 100%;
                margin-bottom: 1rem;

                & p {
                    text-align: start;
                    margin: 0.5rem 0;
                }
            }

        }

    }

    & .btn_show_more {
        padding: 5px 10px;
        border-radius: 15px;
        cursor: pointer;
        transition: all ease 0.5s;
        margin-bottom: 1rem;

        &:hover {
            background-color: green;
            color: white;
        }
    }
}

.card-flag {
    width: 80vw;
    aspect-ratio: 16/9;
    border-radius: 1rem 0px;

    &.tablet {
        width: 40vw;
    }

    &.desktop {
        width: 20vw;
    }

}

.map_container {
    height: 65vh;
    width: 80vw;
    border-radius: 1rem 0px;
    
    &.tablet {
        height: 40vh;
        width: 40vw;
    }
    &.desktop {
        height: 65vh;
        width: 20vw;
    }
}