* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Lucida Sans';
}

body {
  height: 100vh;
  background-color: #282c34;
}

header {
  height: 10vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  min-height: 85vh;
}

footer {
  height: 5vh;
  background-color: #0000003f;
}

button {
  font-weight: 600;
}
/* HEADER */
/* MAIN */
.search_container {
  display: flex;
  align-items: center;
  flex-direction: column;

  & p {
    color: white;
  }

  & button {
    color: white;
    border-radius: 5px;
    background-color: gray;
  }

  .input,
  & button {
    padding: .1rem .5rem;
  }

  .input {
    border-radius: 15px;
    margin-right: 5px;
  }

  .search,
  .filter {
    margin: 5px 0;
  }

  /* .search {} */

  .filter {
    .radioInput {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      margin-left: 2rem;

      .radio_container {
        display: flex;
        align-items: center;

        & label {
          color: white;
          margin: 5px;
        }
      }
    }
  }

}

.resulat_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
}
/* FOOTER */